@import'~bootstrap/dist/css/bootstrap';
@import'style';
@import'mediaquery';
@import'card';
@import'home';
@import'login';


:root {
    --main-dark-blue: #0F3C64;
    --main-orange: #E1785F;
    --main-red: #FF6969;
    --main-light-blue: #60B1D2;
    --main-yellow: #FFE66E;
    --light-gradient: linear-gradient(to bottom right, var(--main-orange), var(--main-red));
    --box-shadow-2: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
    --box-shadow-1: #ff696966 0px 5px, #ff69694d 0px 10px, #ff696933 0px 15px, #ff69691a 0px 20px, #ff69690d 0px 25px;
}

.nav-box {
    box-shadow: var(--box-shadow-2);
}

.nav-search {
    display: flex;
    position:static;
    float:none;
    flex: 1 1 auto;    
    padding: 10px 4px 10px 3px;
    height: 60px;
    width: 500px;
}

.category-btn { background: linear-gradient(to bottom right, var(--main-orange), var(--main-red));
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;

}

.category-btn:not([disabled]):focus {
    box-shadow: 0 0 .15rem rgba(0, 0, 0, 0.5);
  }
  
.category-btn:not([disabled]):hover {
    box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5);
  }

.dropdown-menu {
    background: linear-gradient(to bottom right, var(--main-orange), var(--main-red));
    border: 0;
    border-radius: 12px;
  }

.dropdown-item {
      color: white;
      background: linear-gradient(to bottom right, var(--main-orange), var(--main-red));
  }

.search-btn {
  background: linear-gradient(to bottom right, var(--main-red), var(--main-orange));
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.search-btn:not([disabled]):focus {
  box-shadow: 0 0 .15rem rgba(0, 0, 0, 0.5);
}

.search-btn:not([disabled]):hover {
  box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5);
}

form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--main-orange);
    outline: 0;
    box-shadow: 0 0 .10rem rgba(0, 0, 0, 0.5);
}

.a-nav {
    text-decoration: none;  
    color: var(--main-dark-blue);
}

-a-nav:hover{
    font-size: x-large;
}

.section-title {
  font-size: 50px;
}

.login-nav-button { 
  background: var(--main-dark-blue);
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  border-radius: 40px;
}

/* BUTTON ANNUNCIO */
/* 
 .btn-body{
  box-sizing: border-box;
}

.btn-div {
  display: block;
  height: 100%;
  -webkit-animation: hue-rotate 10s linear infinite;
          animation: hue-rotate 10s linear infinite;
}

.button-annunci {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}
.button-annunci:hover {
  background-color: #f80000;
  color: black;
}
.button-annunci:active {
  transform: scale(0.95);
}
.button-annunci--bubble {
  position: relative;
  z-index: 2;
  color: black;
  background: none;
}
.button-annunci--bubble:hover {
  background: none;
}
.button-annunci--bubble:hover + .button-annunci--bubble__effect-container .circle {
  background: green;
}
.button-annunci--bubble:hover + .button-annunci--bubble__effect-container .button-annunci {
  background: green;
}
.button-annunci--bubble:active + .button-annunci--bubble__effect-container {
  transform: scale(0.95);
}
.button-annunci--bubble__container {
  position: relative;
  display: inline-block;
}
.button-annunci--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translateY(-50%);
  background: #222;
  transition: background 0.1s ease-out;
}

.button-annunci--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}
.button-annunci--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #222;
  transition: background 0.1s ease-out;
}
.button-annunci--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}
.button-annunci--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

html, body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.button-annunci--bubble__container {
  top: 50%;
  margin-top: -25px;
}

@-webkit-keyframes hue-rotate {
  from {
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
} */