@import'~bootstrap/dist/css/bootstrap';

@import'style';
:root {
    --main-dark-blue: #0F3C64;
    --main-orange: #E1785F;
    --main-red: #FF6969;
    --main-light-blue: #60B1D2;
    --main-yellow: #FFE66E;

}