a {
    text-decoration: none;
    color: var(--main-dark-blue);
}

i {
  color: var(--main-dark-blue);
}

/* CATEGORIE */

.cat-col{
    flex-direction: column;
    height: 500px;
}

.cat-col-1 {
    width:19%;
}

.cat-col-2 {
    width:19%;
}
.cat-col-3 {
    width: 19%;
}
.cat-col-4{
    width: 25%;
    margin-left: 35px;

}

.category {
    position: relative;
    padding: 20px 17px;
}

.cat-small-wrapper {
    display: flex;
    flex-grow: 1;
}

.category-wrapper {
    margin: 60px;
}

.category-immobili {
    background-color: #D2FD61;
    color: var(--main-dark-blue)!important;
    height: 350px;
    width: 220px;
    margin-bottom: 20px;
}

.category-title {
    font-weight: 500;
    position: relative;
    z-index: 1;
    font-size: xx-large;
}

.category-count {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.05em;
    position: relative;
    z-index: 1; }

.category-image-immobili {
    width: 200px;
    margin-top:50px;
    overflow: visible;
  
}

.category-image-elettronica {
    width: 130px;
    left: 100px;
  
}

.category-image-lavoro {
    width: 130px;
    margin-left: 30px;  
}

.category-image-sport {
    width: 200px;
    margin-left: 10px;  
    margin-top: 60px;
}

.category-image-musica {
    width: 250px;
    rotate: x 90deg;
}

.category-image-games {
    width: 100px;
}

.category-image-vinili {
    width: 100px;
}

.category-image-artigianato {
    width: 80px;
}

.category-elettronica {
    background-color: var(--main-light-blue);
    color: #fff!important;
    height:150px;
    width: 220px;
}

.City__img, .category {
    display: block;
    border-radius: 40px;
    overflow: hidden;
}

.category-lavoro {
    background-color: #FF89C2;
    color: #670A6F!important;
    height: 150px;
    width: 220px;
    margin-bottom: 20px;
}

.category-sport {
    background-color: #FD6C67;
    color: #3d282f!important;
    height: 350px;
    width: 220px;
}

.category-musica {
    background-color: #385EF9;
    color: #A3FBFF!important;
    height: 520px;
    width: 250px;
}   

.category-artigianato {
    background-color: #F49709;
    color: #A31745!important;
    height: 350px;
    width: 242px;
    margin-top: 15px;

}



.cat-immobili{
  height: 70%;
  border-radius: 40px;
  margin: 10px;
  background-color: #D2FD61;
    color: var(--main-dark-blue)!important;
}
.cat-elettronica{
  height: 30%;
  border-radius: 40px;
  margin: 10px;
  background-color: var(--main-light-blue);
    color: #fff!important;
}
.cat-lavoro{
  height: 40%;
  border-radius: 40px;
  margin: 10px;
  background-color: #FF89C2;
    color: #670A6F!important;
}
.cat-sport{
  height: 60%;
  border-radius: 40px;
  margin: 10px;
  background-color: #FD6C67;
    color: #3d282f!important;
}
.cat-musica{
  height: 100%;
  border-radius: 40px;
  margin: 10px;
  background-color: #385EF9;
  color: #A3FBFF!important;
}
.cat-artigianato{
  height: 70%;
  border-radius: 40px;
  margin: 10px;
  background-color: #F49709;
  color: #A31745!important;
}
.cat-vin-job{
  height: 30%;
  border-radius: 40px;
  margin: 10px;
}
.cat-vinili{
  border-radius: 40px;
  background-color: #FF89C2;
    color: #670A6F!important;
    height: 100%;
   

}
.cat-giochi{
  border-radius: 40px;
  background-color: #13C1AC;
    color: #fff!important;
    height: 100%;
   

}
/* ULTIMI 5 ANNUNCI */

.card-annunci {
    color: var(--main-dark-blue)!important;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-radius: 40px;
    background-color: #60B1D24d;
}

.card-image {
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.card-annunci:hover
 {
    background-color: #60B1D266;
}

.card-titolo {
    font-size: x-large;
    padding-top: 3px;
    text-align: center;
}

.card-prezzo {
    font-size: larger;
}
.img-ads{
    margin-bottom: 10px;
}

/* BUTTON ANNUNCI */

  .bubbly-button {
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--avocado-green);
    color: black;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(28, 95, 1, 0.699);
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--avocado-green) 20%, transparent 30%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--avocado-green) 15%, transparent 20%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, var(--avocado-green)20%, transparent 20%), radial-gradient(circle, var(--avocado-green)20%, transparent 20%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--avocado-green)15%, transparent 20%), radial-gradient(circle, var(--avocado-green)20%, transparent 20%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, var(--avocado-green) 20%, transparent 20%), radial-gradient(circle, var(--avocado-green)20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:hover {
    transform: scale(0.9);
    background-color: var(--avocado-green);
    box-shadow: 0 2px 25px rgba(28, 95, 1, 0.699);
  }
  .bubbly-button.animate:before {   
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }