a {
    text-decoration: none;
    color: var(--main-dark-blue);
}

.cat-col{
    flex-direction: column;
    height: 500px;
}

.cat-col-1 {
    width:19%;
}

.cat-col-2 {
    width:19%;
}
.cat-col-3 {
    width: 19%;
}
.cat-col-4{
    width: 25%;
    margin-left: 35px;

}

.category {
    position: relative;
    padding: 20px 17px;
}

.cat-small-wrapper {
    display: flex;
    flex-grow: 1;
}

.category-wrapper {
    margin: 60px;
}

.category-immobili {
    background-color: #D2FD61;
    color: var(--main-dark-blue)!important;
    height: 350px;
    width: 220px;
   margin-bottom: 20px;
}

.category-title {
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.category-count {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.05em;
    position: relative;
    z-index: 1; }

.category-image {
    width: 120px;
    right: 33px;
    bottom: -95px;
}

.category-elettronica {
    background-color: var(--main-light-blue);
    color: #fff!important;
    height:150px;
    width: 220px;
}

.City__img, .category {
    display: block;
    border-radius: 40px;
    overflow: hidden;
}

.category-lavoro {
    background-color: #FF89C2;
    color: #670A6F!important;
    height: 150px;
    width: 220px;
    margin-bottom: 20px;
}

.category-sport {
    background-color: #FD6C67;
    color: #3d282f!important;
    height: 350px;
    width: 220px;
}

.category-musica {
    background-color: #385EF9;
    color: #A3FBFF!important;
    height: 520px;
    width: 250px;
}   

.category-artigianato {
    background-color: #F49709;
    color: #A31745!important;
    height: 350px;
    width: 310px;
    margin-top: 15px;

}

.category-videogiochi {
    background-color: #13C1AC;
    color: #fff!important;
    height: 150px;
    width: 150px;

}

.category-vinili {
    background-color: #FF89C2;
    color: #670A6F!important;
    height: 150px;
    width: 150px;
}
